<div id="s-page-container">
    <div data-reactroot="" rid="1">
        <!-- react-empty: 2 -->
        <div id="s-content" class="s-variation-default s-custom-colors s-font-heading-raleway s-font-title-raleway s-font-body-raleway" rid="3">
            <div class="social-thumbnail" rid="4">
                <div style="display:none;" rid="5"><img src="<%= @sambok.img_path %>" alt="page thumbnail" width="300" height="300" rid="6"></div>
                <div id="lw-share-data" style="display:none;" rid="7">
                    <div class="lws-title" rid="8"><%= @sambok.name %></div>
                    <div class="lws-description" rid="9">Website</div>
                    <div class="lws-image" rid="10"><%= @sambok.img_path %></div>
                </div>
            </div>
	    <%= render partial: 'custom_css', layout: false %>
            <style id="theme-style-tag" rid="11">
                .s-custom-colors .s-subtitle {
                	color: #ef8690;
                }
                .s-custom-colors .s-subtitle .s-text .s-component-content a {
                	color: #ef8690;
                }
                .s-custom-colors .s-item-subtitle {
                	color: #ef8690;
                }
                .s-custom-colors .s-item-subtitle .s-text .s-component-content a {
                	color: #ef8690;
                }
                .s-custom-colors .s-subtitle .s-text .s-component-content a {
                	border-bottom: 1px solid rgba(239, 134, 144, 0.7);
                }
                .s-custom-colors .s-item-subtitle .s-text .s-component-content a {
                	border-bottom: 1px solid rgba(239, 134, 144, 0.7);
                }
                .s-custom-colors .s-common-button {
                	border-color: #ef8690;
                	background: #ef8690;
                }
                .s-custom-colors .s-common-button:hover {
                	border-color: #ffa7b4;
                	background: #ffa7b4;
                }
                .s-custom-colors .s-mobile-actions .s-mobile-actions-item.one-item {
                	background: #ef8690;
                }
                .s-custom-colors .navbar-drawer-bar .navbar,
                .s-custom-colors .navbar-drawer-bar .mobile {
                	background: #ef8690;
                }
                .s-custom-colors .s-bg-overlay:before {
                	background: rgba(52, 31, 33, 0.35);
                }
                .s-custom-colors .s-blog-wrapper .s-blog-col-placeholder .s-blog-details .s-blog-info {
                	color: #ef8690
                }
                .s-custom-colors .s-component.s-social-media ul.s-social-media-buttons .s-social-icon {
                	background: #ef8690;
                }
                .s-custom-colors .s-ecommerce-row-view-product .s-ecommerce-row-view-product-thumbnail-list ul li.current {
                	border: 2px solid #f29ea6
                }
                .s-custom-colors .s-ecommerce-card-view-wrapper .s-ecommerce-card-view-card .s-ecommerce-card-view-card-stock-warning {
                	background: #f29ea6;
                }
                .s-custom-colors .s-ecommerce-shopping-cart-wrapper .s-ecommerce-shopping-cart {
                	background: #f29ea6;
                }
                .s-custom-colors .s-ecommerce-shopping-cart-wrapper .s-ecommerce-shopping-cart.hovered {
                	background: #f29ea6;
                }
                .s-custom-colors .s-ecommerce-shopping-cart-wrapper .s-ecommerce-shopping-cart-mobile {
                	background: #59464b;
                	border-top: 1px solid #47383c;
                }
                .s-custom-colors .s-ecommerce-shopping-cart-wrapper .s-ecommerce-shopping-cart-mobile .check-btn {
                	background: #f29ea6;
                }
                .s-custom-colors .s-ecommerce-animation-item {
                	border: 2px solid #f29ea6;
                	color: #f29ea6;
                }
                .s-custom-colors .s-ecommerce-card-view-wrapper .s-ecommerce-card-view-cards .s-ecommerce-card-view-card .s-ecommerce-card-view-card-price {
                	color: #f29ea6;
                }
                .s-custom-colors .s-ecommerce .s-ecommerce-row-view-product .s-ecommerce-row-view-product-detail-panel .s-ecommerce-row-view-product-pricing {
                	color: #f29ea6;
                }
                .s-custom-colors .s-ecommerce .s-ecommerce-content .s-ecommerce-category-bar .category-list .category-link-item.selected {
                	color: #f29ea6;
                }
                .s-custom-colors .s-ecommerce .s-ecommerce-content .s-ecommerce-category-bar .category-list .category-link-item.selected:after {
                	background: #f29ea6
                }
                .s-custom-colors .s-ecommerce .s-ecommerce-content .s-ecommerce-category-bar .category-list .category-link-item:hover:not(.no-hover) {
                	color: #f29ea6;
                }
                .s-custom-colors .s-ecommerce .s-ecommerce-products-wrapper .s-ecommerce-card-view-wrapper .s-ecommerce-card-view-detail .s-ecommerce-card-view-detail-header .next-product-btn {
                	color: #f29ea6;
                }
                .s-custom-colors .s-ecommerce .s-ecommerce-products-wrapper .s-ecommerce-card-view-wrapper .s-ecommerce-card-view-detail .s-ecommerce-card-view-detail-header .prev-product-btn {
                	color: #f29ea6;
                }
                .s-custom-colors .s-ecommerce .s-ecommerce-products-wrapper .s-ecommerce-card-view-wrapper .s-ecommerce-card-view-detail .s-ecommerce-card-view-detail-header .back-btn {
                	color: #f29ea6;
                }
                .s-custom-colors .s-ecommerce .s-ecommerce-products-wrapper .s-ecommerce-card-view-wrapper .s-ecommerce-card-view-detail .s-ecommerce-card-view-detail-header .next-product-btn:hover {
                	color: #f4b1b7;
                }
                .s-custom-colors .s-ecommerce .s-ecommerce-products-wrapper .s-ecommerce-card-view-wrapper .s-ecommerce-card-view-detail .s-ecommerce-card-view-detail-header .prev-product-btn:hover {
                	color: #f4b1b7;
                }
                .s-custom-colors .s-ecommerce .s-ecommerce-products-wrapper .s-ecommerce-card-view-wrapper .s-ecommerce-card-view-detail .s-ecommerce-card-view-detail-header .back-btn:hover {
                	color: #f4b1b7;
                }
                .s-custom-colors .s-donation-section .s-component.s-donation .s-donation-progress .progress-bar .progress {
                	background: #f29ea6
                }
                .s-custom-colors .s-donation-section .s-component.s-donation .s-donation-progress .progress-bar .indicator:before {
                	background: #f29ea6
                }
                .s-custom-colors .s-donation-section .s-component.s-donation .s-donation-progress .progress-bar .indicator:after {
                	border-top-color: #f29ea6
                }
                .s-custom-colors #header-container .nav-item a:hover,
                .s-custom-colors #header-container .nav-item a.selected {
                	color: #ef8690;
                	border-bottom: 1px solid #ef8690;
                }
                .s-variation-default .s-component.s-background .s-component-editor .stock-images li.s-bg-gray .s-custom-colors .s-section.s-bg-dark,
                .s-custom-colors .s-component.s-background .s-component-editor .stock-images li.s-bg-dark {
                	background-color: #433b3f;
                }
                .s-custom-colors .s-section.s-bg-gray,
                .s-custom-colors .s-component.s-background .s-component-editor .stock-images li.s-bg-gray {
                	background-color: #fa8c97;
                }
                .s-custom-colors .s-section.s-info-section .s-info-box .s-item-subtitle,
                .s-custom-colors .s-section.s-rows-section .s-item-text-group .s-item-subtitle,
                .s-custom-colors .s-section.s-media-section .s-layout-mediaLeft .s-item-text-group .s-item-subtitle,
                .s-custom-colors .s-section.s-media-section .s-layout-mediaRight .s-item-text-group .s-item-subtitle,
                .s-custom-colors .s-section.s-media-section .s-layout-alt .s-item-text-group .s-item-subtitle,
                .s-custom-colors .s-section.s-columns-section .s-item-text-group .s-item-subtitle,
                .s-custom-colors .s-section.s-block-section .s-block-feature .s-item-text-group .s-item-subtitle,
                .s-custom-colors .s-section.s-block-section .s-block-profile .s-item-text-group .s-item-subtitle {
                	color: #ef8690;
                }
                .s-custom-colors .s-section.s-info-section .s-info-box .s-item-subtitle .s-text .s-component-content a,
                .s-custom-colors .s-section.s-rows-section .s-item-text-group .s-item-subtitle .s-text .s-component-content a,
                .s-custom-colors .s-section.s-media-section .s-layout-mediaLeft .s-item-text-group .s-item-subtitle .s-text .s-component-content a,
                .s-custom-colors .s-section.s-media-section .s-layout-mediaRight .s-item-text-group .s-item-subtitle .s-text .s-component-content a,
                .s-custom-colors .s-section.s-media-section .s-layout-alt .s-item-text-group .s-item-subtitle .s-text .s-component-content a,
                .s-custom-colors .s-section.s-columns-section .s-item-text-group .s-item-subtitle .s-text .s-component-content a,
                .s-custom-colors .s-section.s-block-section .s-block-feature .s-item-text-group .s-item-subtitle .s-text .s-component-content a,
                .s-custom-colors .s-section.s-block-section .s-block-profile .s-item-text-group .s-item-subtitle .s-text .s-component-content a {
                	color: #ef8690;
                	border-bottom: 1px solid #ef8690;
                }
                @media only screen and (max-width: 727px) {
                	.s-custom-colors .navbar-drawer-bar a {
                		background: #ef8690;
                	}
                }
                .s-custom-colors .s-section.s-bg-dark .s-blog-wrapper .s-blog-col-placeholder .s-blog-details .s-blog-info {
                	color: #ef8690;
                }
                .s-custom-colors .s-text-color-custom1 {
                	color: #fa8c97;
                }
            </style>
            <style>
                span.s-font-body,
                p.section-title,
                p.section-subtitle {
                    text-transform: capitalize !important;
                }
            </style>
            <div class="s-navbar-section" rid="12">
                <div id="header-container" class="navigator no-logo s-bg-light-text squeeze" rid="13">
                    <div class="nav-left" rid="14">
                        <span class="nav-items" rid="15">
                            <span class="nav-item">
                                <a class="s-nav-item" onclick="fnMove('1','web')">
                                    <span class="s-font-body"><%= @sambok.name %></span>
                                </a>
                            </span>
                            <span class="nav-item">
                                <a class="s-nav-item" onclick="fnMove('2','web')">
                                    <span class="s-font-body" style="text-transform: capitalize">about</span>
                                </a>
                            </span>
                        </span>
                    </div>
                    <div class="nav-right" rid="16">
                        <span class="nav-items" rid="17">
                            <span class="nav-item">
                                <a class="s-nav-item" onclick="fnMove('3','web')">
                                    <span class="s-font-body">Our Work</span>
                                </a>
                            </span>
                            <span class="nav-item">
                                <a class="s-nav-item" onclick="fnMove('4','web')">
                                    <span class="s-font-body">Working Process</span>
                                </a>
                            </span>
                            <span class="nav-item">
                                <a class="s-nav-item" onclick="fnMove('5','web')">
                                    <span class="s-font-body">Contact</span>
                                </a>
                            </span>
                        </span>
                    </div>
                    <div class="nav original-nav" rid="18">
                        <style>
                            .s-nav-item{
                                cursor: pointer !important;
                            }
                        </style>
                        <span rid="19">
                            <span class="nav-item" rid="20">
                                <a class="s-nav-item" onclick="fnMove('1','web')" rid="21">
                                    <span class="s-font-body" rid="22"><%= @sambok.name %></span>
                                </a>
                            </span>
                            <span class="nav-item" rid="23">
                                <a class="s-nav-item" onclick="fnMove('2','web')" rid="24">
                                    <span class="s-font-body" rid="25">about</span>
                                </a>
                            </span>
                            <span class="nav-item" rid="26">
                                <a class="s-nav-item" onclick="fnMove('3','web')" rid="27">
                                    <span class="s-font-body" rid="28">Our Work</span>
                                </a>
                            </span>
                            <span class="nav-item" rid="29">
                                <a class="s-nav-item" onclick="fnMove('4','web')" rid="30">
                                    <span class="s-font-body" rid="31">Working Process</span>
                                </a>
                            </span>
                            <span class="nav-item" rid="32">
                                <a class="s-nav-item" onclick="fnMove('5','web')" rid="33">
                                    <span class="s-font-body" rid="34">Contact</span>
                                </a>
                            </span>
                        </span>
                        <span rid="35"></span>
                    </div>
                </div>
                <script>
                    
                    $(window).scroll(function(){
                        var scrolled = $(document).scrollTop();
                        if (scrolled > 900){
                            var target = $(".white_off");
                            target.slideToggle(400, "swing");
                            target.removeClass("white_off").addClass("white_on");
                            
                            var target2 = $(".white_off2");
                            target2.slideToggle(400, "swing");
                            target2.removeClass("white_off2").addClass("white_on");
                        } else {
                            var target = $(".white_on");
                            target.slideToggle(400, "swing");
                            target.removeClass("white_on").addClass("white_off2");
                        }
                    });
                    
                    function fnMove(seq, device){
                        if (device == "mb"){
                            fnMobileNav('off');
                        };
                        var offset = $(".s-section-" + seq).offset();
                        console.log(".s-section-"+seq+", offset : "+offset.top+". ");
                        $('html, body').animate({scrollTop : offset.top}, 800, "swing");
                    };
                    
                    
                </script>
                <style>
                    /*navbar-white controller*/
                    .white_off{
                        display:none !important;
                    }
                    #header-container-fixed{
                        width: 100% !important;
                    }

		    @media screen and (min-width: 965px) {
			#header-container .nav-item a,
			#header-container-fixed .nav-item a{
			    font-size: 23px;
			}
			#header-container-fixed span.s-font-body{
			    font-size: 20px !important;
			}

			.main-title {font-size: <%= @main_title_size %>px !important}
			.section-title {font-size: <%= @section_title_size %>px !important; font-weight: bolder;}
			.section-subtitle {font-size: <%= @section_subtitle_size %>px !important}
			.section-content {font-size: <%= @section_content_size %>px !important}
		    }

                    @media screen and (max-width: 964px) {
			#header-container .nav-item a,
			#header-container-fixed .nav-item a{
			    font-size: 21px;
			}
                        #header-container-fixed span.s-font-body{
                            font-size: 18px !important;
                        }

			.main-title {font-size: <%= @main_title_size %>px !important}
			.section-title {font-size: <%= @section_title_size %>px !important; font-weight: bolder    ;}
			.section-subtitle {font-size: <%= @section_subtitle_size %>px !important}
			.section-content {font-size: <%= @section_content_size %>px !important}
                    }

                    @media screen and (max-width: 885px) {
			#header-container .nav-item a,
			#header-container-fixed .nav-item a{
			    font-size: 19px;
			}
                        #header-container-fixed span.s-font-body{
                            font-size: 16px !important;
                        }

			.main-title {font-size: <%= @main_title_size %>px !important}
			.section-title {font-size: <%= @section_title_size %>px !important; font-weight: bolder    ;}
			.section-subtitle {font-size: <%= @section_subtitle_size %>px !important}
			.section-content {font-size: <%= @section_content_size %>px !important}
                    }

                    @media screen and (max-width: 807px) {
			#header-container .nav-item a,
			#header-container-fixed .nav-item a{
			    font-size: 16.5px;
			}
                        #header-container-fixed span.s-font-body{
                            font-size: 13.5px !important;
                        }

			.main-title {font-size: <%= @main_title_size %>px !important}
			.section-title {font-size: <%= @section_title_size %>px !important; font-weight: bolder    ;}
			.section-subtitle {font-size: <%= @section_subtitle_size %>px !important}
			.section-content {font-size: <%= @section_content_size %>px !important}
                    }

                    @media screen and (max-width: 727px) {
                        #header-container-fixed{
                            display: none !important;
                        }

			.main-title {font-size: <%= @main_title_size %>px !important}
			.section-title {font-size: <%= @section_title_size %>px !important; font-weight: bolder    ;}
			.section-subtitle {font-size: <%= @section_subtitle_size %>px !important}
			.section-content {font-size: <%= @section_content_size %>px !important}
                    }
                </style>
                <!-- onScroll event >> navbar-white -->
                <div id="header-container-fixed" class="navigator strikingly-fixed squeeze animated white_off" rid="36" style="transition:none;">
                    <div class="nav-left" rid="37">
                        <span class="nav-items" rid="38">
                            <span class="nav-item">
                                <a class="s-nav-item" onclick="fnMove('1','web')">
                                    <span class="s-font-body"><%= @sambok.name %></span>
                                </a>
                            </span>
                            <span class="nav-item">
                                <a class="s-nav-item" onclick="fnMove('2','web')">
                                    <span class="s-font-body">About</span>
                                </a>
                            </span>
                        </span>
                    </div>
                    <div class="nav-center" rid="39">
                        <div class="logo" rid="40">
                            <div class="s-component s-image" rid="41">
                                <span rid="42">
                                    <div class="s-component-content" rid="43">
                                        <div rid="44">
                                            <a onclick="fnMove('1','web')"><img src="//assets.strikingly.com/assets/themes/fresh/power.png" alt="" title="" data-description="" rid="46"></a>
                                        </div>
                                    </div>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="nav-right" rid="48">
                        <span class="nav-items" rid="49">
                            <span class="nav-item">
                                <a class="s-nav-item" onclick="fnMove('3','web')">
                                    <span class="s-font-body">Our Work</span>
                                </a>
                            </span>
                            <span class="nav-item">
                                <a class="s-nav-item" onclick="fnMove('4','web')">
                                    <span class="s-font-body">Working Process</span>
                                </a>
                            </span>
                            <span class="nav-item">
                                <a class="s-nav-item" onclick="fnMove('5','web')">
                                    <span class="s-font-body">Contact</span>
                                </a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="s-navbar-container" rid="50">
                <script>
                    function fnMobileNav(seq){
                        if (seq == 'on') {
                            //$("#navbar-drawer-mask").show();
                            $("#53").attr("onclick",'').attr("onclick","fnMobileNav('off')");
                            $("#61").show().css("height", "1000px").css("transform", "none");
                        } else if (seq == 'off') {
                            $("#53").attr("onclick",'').attr("onclick","fnMobileNav('on')");
                            $("#61").css("transform", "");
                        } else {
                            alert("잘못된 요청입니다.")
                        }
                    }
                </script>
                <div class="navbar-drawer-bar strikingly-nav-transition" rid="51">
                    <div class="drawer-container" rid="52">
                        <a class="navbar" onclick="fnMobileNav('on');" id="53">
                            <div class="navbar-icons" rid="54"><span rid="55"></span><span rid="56"></span><span rid="57"></span></div>
                        </a>
                        <div id="s-mobile-shopping-cart-new" rid="58"></div>
                        <div class="navbar-drawer-title-container" rid="59"></div>
                    </div>
                </div>
                <div id="navbar-drawer-mask" rid="60" style="display: none;"></div>
                <div class="navbar-drawer strikingly-drawer strikingly-nav-transition" id="61">
                    <ul id="nav-drawer-list" rid="62">
                        <span rid="63">
                            <li rid="64"><a class="navbar-drawer-item s-font-body" onclick="fnMove('1','mb')" rid="65" style="cursor: pointer"><%= @sambok.name %></a></li>
                        </span>

                        <% i = 0 %>
                        <% @sections.each do |section| %>
                            <span rid="<%= 66 + (3*i) %>">
                                <li rid="<%= 67 + (3*i) %>"><a class="navbar-drawer-item s-font-body" onclick="fnMove('<%= 2 + i %>','mb')" rid="<%= 68 + (3*i) %>" style="cursor: pointer"><%= section.name %></a></li>
                            </span>
                        <% end %>

                        <!--<span rid="69">-->
                            <!--<li rid="70"><a class="navbar-drawer-item s-font-body" onclick="fnMove('3','mb')" rid="71" style="cursor: pointer">Our Work</a></li>-->
                        <!--</span>-->
                        <!--<span rid="72">-->
                            <!--<li rid="73"><a class="navbar-drawer-item s-font-body" onclick="fnMove('4','mb')" rid="74" style="cursor: pointer">Working Process</a></li>-->
                        <!--</span>-->
                        <!--<span rid="75">-->
                            <!--<li rid="76"><a class="navbar-drawer-item s-font-body" onclick="fnMove('5','mb')" rid="77" style="cursor: pointer">Contact</a></li>-->
                        <!--</span>-->
                    </ul>
                </div>
                <div class="mobile-actions strikingly-nav-transition" rid="82" style="height: 172px;">
                    <ul id="mobile-action-list" rid="83">
                        <!-- react-empty: 84 -->
                    </ul>
                </div>
            </div>
            <ul class="slides s-page-1" rid="85">
                <li class="slide s-section-1" id="sambok-production" rid="86">
                    <div class="waypoint" rid="87"></div>
                    <a class="section-anchor" rid="88" style="top: 0px;"></a>
                    <div rid="89">
                        <div rid="90">
                            <!-- react-text: 91 -->
                            <!-- /react-text -->
                            <div class="s-bg-image s-bg-light-text s-new-title-section s-section s-section-full  transition bottom-bump" style="background-repeat: repeat; background-size: auto; background-color: <%= @sections[3].bg_img_path %>; background-position: 50% 50%; padding-top: 109px; padding-bottom: 80px;" rid="92">
                                <!-- react-text: 93 -->
                                <!-- /react-text -->
                                <div class="container" rid="94">
                                    <div class="sixteen columns" rid="95">
                                        <!-- react-text: 96 --><!-- /react-text -->
                                        <div class="media-wrapper " rid="97">
                                            <div class="s-component s-media " rid="98">
                                                <span rid="99">
                                                    <div class="s-component-content" rid="100">
                                                        <div rid="101">
                                                            <!-- react-text: 102 -->
                                                            <!-- /react-text --><img src="<%= @sambok.img_path %>" alt="" title="" data-description="" rid="103"><!-- react-text: 104 -->
                                                            <!-- /react-text -->
                                                        </div>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="s-title-group s-only-title-group " rid="105">
                                            <div class="s-subtitle" rid="106">
                                                <div class="s-component s-text" rid="107">
                                                    <h4 class="s-component-content s-font-heading" rid="108">
                                                        <p style="white-space: pre;"><%= @sambok.slogan.gsub('_',' ') %></p>
                                                    </h4>
                                                </div>
                                            </div>
                                            <div class="s-title sb-title-center-align" rid="109">
                                                <div class="s-component s-text" rid="110">
                                                    <h1 class="s-component-content s-font-title" rid="111">
                                                        <p class="main-title" style="text-align:center; font-weight: bolder;"><%= @sambok.name %></p>
                                                    </h1>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- react-text: 112 -->
                                <!-- /react-text -->
                                <div class="s-bright-arrow">
                                    <div class="a1" style="border-color: rgb(250, 140, 151);"></div>
                                    <div class="a2" style="border-color: rgb(250, 140, 151);"></div>
                                </div>
                            </div>
                            <!-- react-text: 113 -->
                            <!-- /react-text -->
                        </div>
                    </div>
                </li>

                <% about = @sections[0] %>
                <li class="slide s-section-2" id="about" rid="114">
                    <div class="waypoint" rid="115"></div>
                    <a class="section-anchor" rid="116" style="top: -53px;"></a>
                    <div rid="117">
                        <div rid="118">
                            <!-- react-text: 119 -->
                            <!-- /react-text -->
                            <div class="s-no-bg s-bg-gray s-new-text-section s-section s-text-section transition lazyloaded s-bg-light-text-override" rid="120" style="background-color: <%= about.bg_img_path %>;">
                                <div class="container" rid="121">
                                    <div class="clearfix" rid="122">
                                        <div class="columns sixteen" rid="123">
                                            <div class="s-title-group  " rid="124">
                                                <div class="s-title " rid="125">
                                                    <div class="s-component s-text" rid="126">
                                                        <h2 class="s-component-content s-font-title" rid="127">
                                                            <p class="section-title"><%= about&.name %></p>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="" rid="128">
                                        <!-- react-text: 129 -->
                                        <!-- /react-text -->
                                        <div class="s-mh s-repeatable" rid="130">
                                            <div rid="131">
                                                <div data-sorting-index="0" class="fourteen columns no-float s-repeatable-item s-last-row" rid="132">
                                                    <div class="s-mhi" rid="133">
                                                        <div class="s-item-text-group " rid="134">
                                                            <div class="s-item-title" rid="135">
                                                                <div class="s-component s-text" rid="136">
                                                                    <h3 class="s-component-content s-font-heading" rid="137">
                                                                        <%== about.devide %>
                                                                    </h3>
                                                                </div>
                                                            </div>
                                                            <div class="s-item-text" rid="138">
                                                                <div class="s-component s-text" rid="139"></div>
                                                            </div>
                                                            <div class="center-align" rid="140"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- react-text: 141 -->
                                        <!-- /react-text -->
                                    </div>
                                </div>
                            </div>
                            <!-- react-text: 142 -->
                            <!-- /react-text -->
                        </div>
                    </div>
                </li>

                <% ourWork = @sections[1] %>
                <li class="slide s-section-3" id="our-work" rid="143">
                    <div class="waypoint" rid="144"></div>
                    <a class="section-anchor" rid="145" style="top: -53px;"></a>
                    <div rid="146">
                        <div rid="147">
                            <!-- react-text: 148 -->
                            <!-- /react-text -->
                            <div class="s-bg-white s-new-media-section s-section s-media-section transition" rid="149" style="background-color: <%= ourWork.bg_img_path %>">
                                <div class="container" rid="150">
                                    <div class="columns sixteen" rid="151">
                                        <div class="s-title-group  " rid="152">
                                            <div class="s-title " rid="153">
                                                <div class="s-component s-text" rid="154">
                                                    <h2 class="s-component-content s-font-title" rid="155">
                                                        <p class="section-title"><%= ourWork.name %></p>
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- react-text: 156 -->
                                    <!-- /react-text -->
                                    <div class="s-mh s-layout-normal s-repeatable" rid="157">
                                        <div rid="158">
                                            <div data-sorting-index="0" class="s-repeatable-item" rid="159">
                                                <div class="clearfix" rid="160">
                                                    <div class="fourteen columns offset-one  center" rid="161">
                                                        <div class="s-item-media-wrapper s-mhi " rid="162">
                                                            <div class="s-item-media-group" rid="163">
                                                                <div class="s-component s-media " rid="164">
                                                                    <span rid="165">
                                                                        <div class="s-component-content" rid="166">
                                                                            <div rid="167">
                                                                                <!-- react-text: 168 -->
                                                                                <!-- /react-text -->
                                                                                <div class="s-ratio-box" style="max-width:1092px;max-height:725px;" rid="169">
                                                                                    <div class="s-ratio-fill" style="padding-bottom:66.39%;" rid="170"></div>
                                                                                    <div rid="171"><img alt="" title="" data-description="" width="1092" height="725" src="<%= ourWork.img_path %>" class="lazyautosizes lazyloaded " data-src="<%= ourWork.img_path %>" data-sizes="auto" rid="172" sizes="978px"></div>
                                                                                </div>
                                                                                <!-- react-text: 173 -->
                                                                                <!-- /react-text -->
                                                                            </div>
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="" rid="174">
                                                            <div class="s-item-text-group " rid="175">
                                                                <div class="s-item-title" rid="176">
                                                                    <div class="s-component s-text" rid="177">
                                                                        <h3 class="s-component-content s-font-heading" rid="178">
                                                                            <p class="section-subtitle"><%= ourWork.subtitle2 %></p>
                                                                        </h3>
                                                                    </div>
                                                                </div>
                                                                <div class="s-item-subtitle" rid="179">
                                                                    <div class="s-component s-text" rid="180">
                                                                        <h6 class="s-component-content s-font-body" rid="181">
                                                                            <p><strong>&#8203;</strong></p>
                                                                        </h6>
                                                                    </div>
                                                                </div>
                                                                <div class="s-item-text" rid="182">
                                                                    <div class="s-component s-text" rid="183">
                                                                        <div class="s-component-content s-font-body" rid="184">
                                                                            <%== ourWork.devide(spliter: true)[0..2].join %>
                                                                            <!--<p class="section-content">SNS를 중심으로 하는 모바일 영상 콘텐츠 시장에 발맞춰</p>-->
                                                                            <!--<p class="section-content">삼복프로덕션은 스토리라인을 중심으로 하는 웹드라마, 웹무비를 제작합니다.</p>-->
                                                                            <!--<p class="section-content">이를 통해, 우리는 세상이 원하는 이야기를 함께 만들어 나가고자 합니다.</p>-->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="" rid="185"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div data-sorting-index="1" class="s-repeatable-item s-last-row" rid="186">
                                                <div class="clearfix" rid="187">
                                                    <div class="fourteen columns offset-one  center" rid="188">
                                                        <div class="" rid="189">
                                                            <div class="s-item-text-group " rid="190">
                                                                <div class="s-item-subtitle" rid="191">
                                                                    <div class="s-component s-text" rid="192"></div>
                                                                </div>
                                                                <div class="s-item-text" rid="193">
                                                                    <div class="s-component s-text" rid="194">
                                                                        <div class="s-component-content s-font-body" rid="195">
                                                                            <%== ourWork.devide(spliter: true)[3..-1].join %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="" rid="196"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- react-text: 197 -->
                                    <!-- /react-text -->
                                </div>
                            </div>
                            <!-- react-text: 198 -->
                            <!-- /react-text -->
                        </div>
                    </div>
                </li>

                <% wp = @sections[2] %>
                <li class="slide s-section-4" id="working-process" rid="199">
                    <div class="waypoint" rid="200"></div>
                    <a class="section-anchor" rid="201" style="top: -53px;"></a>
                    <div rid="202">
                        <div rid="203">
                            <!-- react-text: 204 -->
                            <!-- /react-text -->
                            <div class="s-bg-dark s-new-media-section s-section s-media-section transition s-bg-light-text-override" rid="205" style="background-color: <%= wp.bg_img_path %>">
                                <div class="container" rid="206">
                                    <div class="columns sixteen" rid="207">
                                        <div class="s-title-group  " rid="208">
                                            <div class="s-title " rid="209">
                                                <div class="s-component s-text" rid="210">
                                                    <h2 class="s-component-content s-font-title" rid="211">
                                                        <p class="section-title"><%= wp.name %></p>
                                                    </h2>
                                                </div>
                                            </div>
                                            <div class="s-subtitle" rid="212">
                                                <div class="s-component s-text" rid="213">
                                                    <h4 class="s-component-content s-font-heading" rid="214">
                                                        <p class="section-content"><%= wp.subtitle %></p>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- react-text: 215 -->
                                    <!-- /react-text -->
                                    <div class="s-mh s-layout-normal s-repeatable" rid="216">
                                        <div rid="217">
                                            <div data-sorting-index="0" class="s-repeatable-item s-last-row" rid="218">
                                                <div class="clearfix" rid="219">
                                                    <div class="fourteen columns offset-one  center" rid="220">
                                                        <div class="s-item-media-wrapper s-mhi " rid="221">
                                                            <div class="s-item-media-group" rid="222">
                                                                <div class="s-component s-media " rid="223">
                                                                    <span rid="224">
                                                                        <div class="s-component-content" rid="225">
                                                                            <div rid="226">
                                                                                <!-- react-text: 227 -->
                                                                                <!-- /react-text -->
                                                                                <div class="s-ratio-box" style="max-width:1116px;max-height:255px;" rid="228">
                                                                                    <div class="s-ratio-fill" style="padding-bottom:22.85%;" rid="229"></div>
                                                                                    <div rid="230"><img alt="" title="" data-description="" width="1116" height="255" src="<%= wp.img_path %>" class="lazyautosizes lazyloaded " data-src="<%= wp.img_path %>" data-sizes="auto" rid="231" sizes="978px"></div>
                                                                                </div>
                                                                                <!-- react-text: 232 -->
                                                                                <!-- /react-text -->
                                                                            </div>
                                                                        </div>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="" rid="233">
                                                            <div class="s-item-text-group " rid="234">
                                                                <div class="s-item-title" rid="235">
                                                                    <div class="s-component s-text" rid="236">
                                                                        <h3 class="s-component-content s-font-heading" rid="237">
                                                                            <p class="section-subtitle"><%= wp.subtitle2 %></p>
                                                                        </h3>
                                                                    </div>
                                                                </div>
                                                                <div class="s-item-subtitle" rid="238">
                                                                    <div class="s-component s-text" rid="239"></div>
                                                                </div>
                                                                <div class="s-item-text" rid="240">
                                                                    <div class="s-component s-text" rid="241">
                                                                        <div class="s-component-content s-font-body" rid="242">
                                                                            <%== wp.devide(section: 'content') %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="" rid="243"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- react-text: 244 -->
                                    <!-- /react-text -->
                                </div>
                            </div>
                            <!-- react-text: 245 -->
                            <!-- /react-text -->
                        </div>
                    </div>
                </li>

                <% ct = @sections[3] %>
                <li class="slide s-section-5" id="contact" rid="246">
                    <div class="waypoint" rid="247"></div>
                    <a class="section-anchor" rid="248" style="top: -53px;"></a>
                    <div class="s-bg-image s-bg-light-text s-contact-section s-section transition lazyloaded" style="background-repeat: repeat; background-size: auto; background-color: <%= ct.bg_img_path %>; background-position: 50% 50%;" rid="249">
                        <div class="container" rid="250">
                            <div class="columns twelve offset-two" rid="251">
                                <div class="s-title-group  " rid="252">
                                    <div class="s-title " rid="253">
                                        <div class="s-component s-text" rid="254">
                                            <h2 class="s-component-content s-font-title" rid="255">
                                                <p class="section-title"><%= ct.name %></p>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="s-subtitle" rid="256">
                                        <div class="s-component s-text" rid="257">
                                            <h4 class="s-component-content s-font-heading" rid="258">
                                                <p class="section-subtitle" style="text-transform: none !important;"><%= ct.subtitle %></p>
						                        <%== ct.devide(section: 'content') %>
                                            </h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="s-email-form-container " rid="259">
                                    <div class="s-component s-form s-email-form" rid="260">
                                        <span rid="261">
                                            <div class="s-component-content" rid="262">
                                                <div rid="263">
                                                    <div class="s-email-form-fields-group" rid="264">
                                                        <div class="s-email-form-inputs-group s-email-form-small-fields-2" rid="265">
                                                            <style>
                                                                @media screen and (max-width: 875px) {
                                                                    .s-email-form-field{
                                                                        margin-bottom: 20px !important;
                                                                    }
                                                                }
                                                            </style>
                                                            <div class="s-email-form-small-fields-group" rid="266" style="margin-bottom: 10px;">
                                                                <div class="s-email-form-field s-name-field" id="267">
                                                                    <div class="s-font-body" rid="268">
                                                                        <label id="269">Name</label>
                                                                        <input type="text" id="270">
                                                                    </div>
                                                                </div>
                                                                <div class="s-email-field s-email-form-field" id="271">
                                                                    <div class="s-font-body" rid="272">
                                                                        <label id="273">Email</label>
                                                                        <input type="text" id="274">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="s-email-form-field s-message-field" rid="275" style="margin-bottom: 10px;">
                                                                <div class="s-font-body" rid="277">
                                                                    <label id="278" style="display: -webkit-box;">Message</label>
                                                                    <textarea type="text" id="279"></textarea>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="s-email-form-field s-submit-field" rid="281">
                                                            <a class="s-common-button s-email-form-button s-font-body" rid="82">Submit</a>
                                                        </div>
                                                        <div class="s-email-form-field s-hp-field" style="display:none;" rid="86">
                                                            <label id="287">Comment</label>
                                                            <input type="text" rid="88">
                                                        </div>
                                                        <script>
                                                            ////////
                                                            $("#269").click(function(){
                                                                $(this).stop().animate({
                                                                    "margin-top": -40, "margin-left": -20
                                                                }, 200, "swing").css("color", "#fff");
                                                                $("#270").focus();
                                                            });
                                                            $("#270").focusout(function(){
                                                                var value = $(this).val();
                                                                //console.log("name : " + value);
                                                                if (value.length == 0){
                                                                    $("#269").stop().animate({
                                                                        "margin-top": 0, "margin-left": 0
                                                                    }, 200, "swing").css("color", "#bbb");
                                                                }
                                                            });
                                                            
                                                            ////////
                                                            $("#273").click(function(){
                                                                $(this).stop().animate({
                                                                    "margin-top": -40, "margin-left": -20
                                                                }, 200, "swing").css("color", "#fff");
                                                                $("#274").focus();
                                                            });
                                                            $("#274").focusout(function(){
                                                                var value = $(this).val();
                                                                //console.log("email : " + value.length);
                                                                if (value.length == 0){
                                                                    $("#273").stop().animate({
                                                                        "margin-top": 0, "margin-left": 0
                                                                    }, 200, "swing").css("color", "#bbb");
                                                                }
                                                            });
                                                            
                                                            ////////
                                                            $("#278").click(function(){
                                                                $(this).stop().animate({
                                                                    "margin-top": -40, "margin-left": -20
                                                                }, 200, "swing").css("color", "#fff");
                                                                $("#279").focus();
                                                            });
                                                            $("#279").focusout(function(){
                                                                var value = $(this).val();
                                                                //console.log("message : " + value);
                                                                if (value.length == 0){
                                                                    $("#278").stop().animate({
                                                                        "margin-top": 0, "margin-left": 0
                                                                    }, 200, "swing").css("color", "#bbb");
                                                                }
                                                            });
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="waypoint" rid="289"></div>
                </li>
            </ul>
            <!-- react-empty: 290 -->
            <div class="s-bg-white s-footer-section s-section  transition" rid="292" style="padding-bottom: 40px;">
                <div class="container s-layout-vertical" rid="293">
                    <div class="columns row sixteen " rid="294">
                        <div class="s-footer-text" rid="299">
                            <div class="s-component s-text" rid="300">
                                <div class="s-component-content s-font-body" rid="301">
                                    <p>Copyright © 2016 - <%= DateTime.now.year %> <%= @sambok.name %>. All right<a href="/samboks" style="color: #000; border: none;">s</a> reserve<a href="/sections" style="color: #000; border: none;">d.</a> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="ecommerce-drawer" rid="302"></div>
        </div>
    </div>
</div>
<div id="fb-root" style="height: 0px;"></div>
