<!DOCTYPE html>
<html
    itemscope=""
    itemtype="http://schema.org/WebPage"
    lang="en"
    xmlns:fb="https://www.facebook.com/2008/fbml"
    xmlns:og="http://ogp.me/ns#"
    xmlns="http://www.w3.org/1999/xhtml"
    class="">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0" id="viewport" name="viewport">
    <link rel="canonical" href="<%= $app_url %>">
    <title><%= $app_title %></title>
    
    <%#= render partial: 'js/cdata', layout: false %>
    
    <!--meta attributes-->
    <meta content="<%= $app_title %>" property="og:title">
    <meta content="<%= $app_url %>" property="og:url">
    <meta content="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_630,w_1200,f_auto/v1/1084360/a_cckkf8.png" property="og:image">
    <meta content="<%= $app_title %>" property="og:site_name">
    <meta content="" property="og:description">
    <meta content="<%= $app_title %>" itemprop="name">
    <meta content="" itemprop="description">
    <meta content="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_630,w_1200,f_auto/v1/1084360/a_cckkf8.png" itemprop="image">
    <meta content="" name="description">
    <meta name="support-helper" content="{&quot;permalink&quot;:&quot;sambok&quot;,&quot;id&quot;:11348244}">
    <meta name="asset-url" content="https://assets.strikingly.com">
    
    <!--javascript importer first group-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://bam.nr-data.net/1/74f55de04c?a=4870173&amp;v=998.365d633&amp;to=IlcLQxBeWFoHShYWSgRKOkQLRVFFTUtRDE4%3D&amp;rst=3734&amp;ref=http://sambok.strikingly.com/&amp;qt=1&amp;ap=310&amp;be=1010&amp;fe=1981&amp;dc=1232&amp;af=err,xhr,stn,ins,spa&amp;perf=%7B%22timing%22:%7B%22of%22:1482931513862,%22n%22:0,%22f%22:231,%22dn%22:231,%22dne%22:231,%22c%22:231,%22ce%22:231,%22rq%22:238,%22rp%22:838,%22rpe%22:844,%22dl%22:840,%22di%22:2238,%22ds%22:2238,%22de%22:2267,%22dc%22:2983,%22l%22:2991,%22le%22:2993%7D,%22navigation%22:%7B%7D%7D&amp;at=GhoQFVhKFlAXVFU8TBNURw1AWUBCEgIWTEoAVQdYCR9HQhBRUgpXBlQcGQFeWRlARUQ%3D&amp;jsonp=NREUM.setToken"></script>
    <script src="//d15qhc0lu1ghnk.cloudfront.net/beacon.js" async=""></script>
    <script src="https://js-agent.newrelic.com/nr-spa-998.min.js"></script>
    <script type="text/javascript" async="" src="http://dc8na2hxrj29i.cloudfront.net/code/keen-2.1.0-min.js"></script>
    
    
    <!--javascript setter-->
    <%= render partial: 'js/first', layout: false %>
    <%= render partial: 'js/second', layout: false %>
    <%#= render partial: 'js/googleapis', layout: false %>
    <script>
        (function() {
          window.$B || (window.$B = {});
        }).call(this);
    </script>
    
    <!--javascript importer second group-->
    <script src="https://assets.strikingly.com/assets/detectIE-5e27e2329c35b47c0453a311ea5a6e82.js" async="async"></script>
    <script type="text/javascript" charset="utf-8" async="" src="https://assets.strikingly.com/assets/v4/22.c20ec7eb4a9d7a8db814-site-bundle.js"></script>
    <script type="text/javascript" charset="utf-8" async="" src="https://assets.strikingly.com/assets/v4/0.c20ec7eb4a9d7a8db814-site-bundle.js"></script>
    <script type="text/javascript" charset="utf-8" async="" src="https://assets.strikingly.com/assets/v4/37.c20ec7eb4a9d7a8db814-site-bundle.js"></script>
    <script type="text/javascript" charset="utf-8" async="" src="https://assets.strikingly.com/assets/v4/43.c20ec7eb4a9d7a8db814-site-bundle.js"></script>
    
    <!--stylesheet importer group-->
    <link rel="stylesheet" media="screen" href="https://assets.strikingly.com/assets/_reset-cb070d4c0832b4988613f9fd1d2463fa.css">
    <link rel="stylesheet" media="screen" href="//fonts.googleapis.com/css?family=Raleway:300,700|Roboto:300,700,300italic,700italic|Roboto+Condensed:300,700&amp;subset=latin,latin-ext">
    <link rel="stylesheet" media="screen" href="https://assets.strikingly.com/assets/themes/bright/main_v4-d8626678451df6a9da87333e0963388c.css">
    
    <!--style sheet setter-->
    <style type="text/css">.fancybox-margin{margin-right:17px;}</style>
    <noscript>
        <style>.s-entrance-mask .s-section .container { opacity: 1 !important; }</style>
    </noscript>
    
    <!--core image setter-->
    <link href="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_64,w_64,f_auto/v1/1084360/asd_qspuzv.png" rel="shortcut icon" type="image/x-icon">
    <link href="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_60,w_60,f_auto/v1/1084360/a_cckkf8.png" rel="apple-touch-icon" sizes="60x60">
    <link href="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_76,w_76,f_auto/v1/1084360/a_cckkf8.png" rel="apple-touch-icon" sizes="76x76">
    <link href="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_120,w_120,f_auto/v1/1084360/a_cckkf8.png" rel="apple-touch-icon" sizes="120x120">
    <link href="//res.cloudinary.com/hrscywv4p/image/upload/c_limit,h_152,w_152,f_auto/v1/1084360/a_cckkf8.png" rel="apple-touch-icon" sizes="152x152">
    
    <!--[if lte IE 9]>
    <link rel="stylesheet" media="screen" href="https://assets.strikingly.com/assets/themes/bright/main_v4_split2-8e25ac83d2cf201a805dfa9af872c097.css"/>
    <![endif]--> 
    <!--[if lte IE 10]>
    <link rel="stylesheet" media="screen" href="https://assets.strikingly.com/assets/ie8-f9a65d3da9d7965229bfd05f17b3ccfa.css"/>
    <![endif]--> 
    
    <!--other resources-->
</head>
<body class="show locale-en" id="user_sites" ontouchstart="" screen_capture_injected="true" style="overflow: auto;">

<%= yield %>

</body>
</html>
